<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<div class="col">
    {{!-- The heading content will be heere if any --}}
    <p class="fs-4 fw-bold">Categories</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="background-color: #f4efef;">
                <div class="card-body">
                    <form action="/admin/category" method="post" onsubmit="return categoryFormSubmission(event)">
                        <div>
                            <label for="" class="mb-1 text-secondary">Name</label>
                            <input type="text" class="form-control" placeholder="Category Name" name="name" id="name" required>
                            <label for="" class="error-message" id="category-name-error"></label>
                        </div>
                        <div class="mt-2">
                            <label for="" class="mb-1 text-secondary">Description</label>
                            <textarea name="description" id="description" class="form-control" required></textarea>
                            <label for="" class="error-message" id="category-description-error"></label>
                        </div>
                        <button type="submit" class="btn btn-dark form-control mt-3">Add to Category</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Offer Price</th>
                            <th>Offer</th>
                            <th>Status</th>
                            <th>List/unlist</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categoryData}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.categoryOffer}}</td>
                            {{#if (offerNill this.categoryOffer)}}
                            <td><button class="btn border-0 text-dark" style="background-color: #cbe7f9;" onclick="addOffer('{{this._id}}')">Add offer</button></td>
                            {{else}}
                            <td><button class="btn border-0 text-dark" style="background-color: rgb(245, 238, 252);" onclick="removeOffer('{{this._id}}')">Remove Offer</button></td>
                            {{/if}}
                            {{#if this.isListed}}
                            <td><label class="ps-2 pe-2" for="" style="border: 1px solid rgb(63, 217, 63);border-radius: 15px;color:rgb(63, 217, 63);">Listed</label></td>
                            <td><a href="/admin/category/unlist?id={{this._id}}" class="btn btn-warning">Unlist</a></td>
                            {{else}}
                            <td><label class="ps-2 pe-2" for="" style="border: 1px solid rgb(238, 34, 34);border-radius: 15px;color:rgb(238, 34, 34);">Unlisted</label></td>
                            <td><a href="/admin/category/list?id={{this._id}}" class="btn btn-secondary">List</a></td>
                            {{/if}}
                            <td><button onclick="getCategoryDetails('{{this._id}}')" class="btn btn-dark">Edit</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="categoryEditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h4>Edit Category</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="editCategoryDetails(event, this)">
                        <input type="text" name="editCategoryId" id="disabledCategoryId" style="visibility: hidden;">
                        <input type="text" name="editCategoryName" id="editCategoryName" class="form-control" required>
                        <textarea name="editCategoryDescription" id="editCategoryDescription" class="form-control mt-2" required></textarea>
                        <div class="d-flex gap-2 mt-3">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script>

    

    const nameError = document.getElementById('category-name-error')
    const descriptionError = document.getElementById('category-description-error')
    const categoryName = document.getElementById('name')
    const categoryDescription = document.getElementById('description')

    function categoryFormSubmission(event){
        event.preventDefault()

        if(nameError.textContent || descriptionError.textContent){
            alert('Fill the fields properly')
            return false
        }
        const name = categoryName.value
        const description = categoryDescription.value

        fetch('/admin/category', {
            method:'POST',
            headers:{
                'content-type':'application/json'
            },
            body:JSON.stringify({name:name, description:description})
        }).then((response) => {
            return response.json()
        }).then((data) => {
            if(data.success){
                Swal.fire({
                    title:'Added',
                    icon:'success',
                    text:data.message,
                    showConfirmButton:false,
                    timer:1500
                }).then(() => location.reload())
            }else{
                Swal.fire({
                    title:'Duplicate',
                    icon:'info',
                    text:data.message,
                })
            }
        }).catch((err) => {
            Swal.fire({
                title:'Oops',
                icon:'error',
                text:err.error
            })
        })

        return true

    }
    function sertError(element, message, view){
        console.log('error seting function called')
        const errorLabel = element.nextElementSibling
        console.log(errorLabel)
        if(!errorLabel) alert('no elemenet')
        errorLabel.textContent = message
        errorLabel.style.color = 'red'
        errorLabel.style.display = view
    }

    function validateName(){
        console.log('name validator function invoked')
        const name = categoryName.value
        const namePattern = /^[a-zA-Z][a-zA-Z\s]*[a-zA-Z]$/

        if(name === ""){
            console.log('name is empty')
            sertError(categoryName, 'Category name can not be empty', 'block')
        }else if(!namePattern.test(name)){
            console.log('name is missmatch')
            sertError(categoryName, 'Please enter a valide name for the cateory', 'block')
        }else{
            sertError(categoryName, "", "none")
        }
    }

    function validateDescription(){
        const description = categoryDescription.value

        if(description === ""){
            sertError(categoryDescription, 'Category Description can not be empty')
        }else{
            sertError(categoryDescription, "")
        }
    }

    categoryName.addEventListener('keyup', validateName)
    categoryDescription.addEventListener('keyup', validateDescription)

    async function addOffer(categoryId){
        
        const {value:amount} = await Swal.fire({
            title:'Offer in percentage',
            input:'number',
            inputLabel:'Percentage',
            inputPlaceholder:'%'
        })

        if(amount){
            try{
                const response = await fetch('/admin/categoryOffer/add', {
                method:'POST',
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({
                    percentage:amount,
                    id:categoryId
                })
            })

            const data = await response.json()
            if(response.ok && data.status === true){
                Swal.fire({
                    title:'Offer Added',
                    icon:'success',
                    text:'Offer to the particular category was added successfully'
                }).then(() => location.reload())
            }else{
                Swal.fire({
                    title:'Failed',
                    icon:'error',
                    text:data.message || 'Adding offer failed'
                })
            }
            }catch(err){
                Swal.fire({
                    title:'Error',
                    icon:'error',
                    text:'An error occured while adding the offer'
                })
                console.log(error.message)
            }
        }
    }
    async function removeOffer(categoryId){
        try{
            const response = await fetch('/admin/categoryOffer/remove', {
                method:'POST',
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({
                    id:categoryId
                })
            })

            const data = await response.json()
            if(response.ok && data.status === true){
                Swal.fire({
                    title:'Offer Removed',
                    icon:'success',
                    text:'The offer have been removed'
                }).then(() => location.reload())
            }else{
                Swal.fire({
                    title:'Failed',
                    icon:'error',
                    text:data.message || 'Offer removing failed'
                })
            }
        }catch(err){
                Swal.fire({
                    title:'Error',
                    icon:'error',
                    text:'An error occured while removing the offer'
                })

                console.log('error removing offer', err.message)
        }
    }

    function getCategoryDetails(categoryId){
        fetch(`/admin/category/edit?id=${categoryId}`)
            .then((response) => {
                if(!response.ok){
                    alert('something went wrong')
                }

                return response.json()
            })
            .then((data) => {
                if(data.success){
                    const categoryEditModal = new bootstrap.Modal(document.getElementById('categoryEditModal'))
                    document.getElementById('disabledCategoryId').value = data.categoryDetails._id
                    document.getElementById('editCategoryName').value = data.categoryDetails.name
                    document.getElementById('editCategoryDescription').value = data.categoryDetails.description
                    categoryEditModal.show()
                }
            })
            .catch((error) => {
                Swal.fire({
                    title:'Error',
                    icon:'error',
                    text:error.message,
                    showConfirmButton:true
                })
            })
    }

    function editCategoryDetails(event, form){
        event.preventDefault()
        const editData = new FormData(form)
        const editObjet = {}
        editData.forEach((value, key) => {
            editObjet[key] = value
        })

        fetch('/admin/category/edit', {
            method:'POST',
            headers:{
                'content-type':'application/json'
            },
            body:JSON.stringify(editObjet)
        })
        .then((response) => {
            if(!response.ok){
                alert('something went wrong')
            }

            return response.json()
        })
        .then((data) => {
            if(data.success){
                Swal.fire({
                    title:'Updated',
                    icon:'success',
                    text:data.message,
                    showConfirmButton:false,
                    timer:1500
                }).then(() => location.reload())
            }
        }).catch((error) => {
            Swal.fire({
                title:'Error!',
                icon:'error',
                text:error.message,
                showConfirmButton:true
            })
        })
        
    }
</script>