<section id="landing-section" class="d-flex flex-column justify-content-end">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 position-relative">
                <div class="rounded-circle bg-olive position-absolute p-5 yellow-circle-top"></div>
                <div class="position-relative" style="z-index: 2;">
                    <p class="page-headings" id="landingPageHead" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="0">
                    find clothes that matches your style
                </p>
                <p class="page-intro" id="pageIntro" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="400">
                    browse through our diverse range of meticulously crafted
                    garments designed to bring out your individually and catter to your sense of style
                </p>
                <a href="/products" class="btn mt-3 mb-3" id="btn-landing-section" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="800">Shop now</a>
                <div id="progress-show" class="d-flex gap-4 mt-2">
                    <div class="box" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="0"><p class="count" data-count-target="20">0</p><p class="info">International Brands</p></div>
                    <div class="box" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="200"><p class="count" data-count-target="200">170</p><p class="info">High quality products</p></div>
                    <div class="box" data-aos="flip-up" data-aos-duration="1500" data-aos-delay="400"><p class="count" data-count-target="3000">2970</p><p class="info">Happy Customers</p></div>
                </div>
                </div>
            </div>
            <div class="col-md-6 position-relative">
                <img src="/images/frontend/beautiful-young-women-summer-fashion-concept_564719-215-removebg-preview.png" alt="couple-image" class="image-fluid d-block m-auto" id="img-landing-section" data-aos="fade-up" data-aos-duration="1000">
                <div class="rounded-circle bg-olive position-absolute p-5 yellow-circle-bottom">

                </div>
            </div>
        </div>
    </div>
    
</section>
<div id="brand-banners" class="bg-black position-relative">
        <div class="container">
            <div class="d-flex justify-content-between pt-3 pb-3">
                <p class="brand-name text-white" id="versase">versase</p>
                <p class="brand-name text-white" id="zara">zara</p>
                <p class="brand-name text-white" id="gucci">gucci</p>
                <p class="brand-name text-white" id="prada">prada</p>
                <p class="brand-name text-white" id="calvin-clein">calvin clein</p>
            </div>
        </div>
</div>
<section id="new-arrivals">
    <div class="container">
        <p class="page-headings mt-5 mb-3 text-center" data-aos="fade-right">new arrivals</p>
        <div class="top-list-container row">
            {{#each newArrivals}}
            <div class="card border-0 col-6 col-md-3" data-aos="fade-up" data-aos-duration="2500">
                <div class="card-body">
                    
                        <div class=" position-relative card-img-container rounded d-flex justify-content-center align-items-center align">
                        <a href="/products/product_details/?id={{this._id}}" class="text-decoration-none">
                        <img src="/images/backend/products/{{this.sku}}/{{getImage this.productImage 0}}" alt="" style="width:300px;height:300px" >
                        </a>
                        <button type="button" id="wishlist-button" class="btn position-absolute wishlist-btn">
                            <i class="fa-solid fa-heart heart-icon" id="wishlist-icon" data-productid="{{this._id}}"></i>
                        </button>
                    </div>
                        
                    <p class="name mt-3 fw-bold fs-6">{{this.productName}}</p>
                    <p class="rating lh-1">{{ratingStars this.rating}}</p>
                    <div class="d-flex gap-3">
                        <p class="of-price fw-bold fs-6">₹{{getVariantPrice this.variantDetails "small" "offerPrice"}}</p>
                        <p class=" text-secondary text-decoration-line-through price"> ₹{{getVariantPrice this.variantDetails "small" "regularPrice"}}</p>
                        <span class="discount-label bg-olive d-flex justify-content-center align-items-center fw-bold">{{this.productOffer}} %</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="text-center mt-5">
            <a href="/products" class="btn border border-dark rounded-pill fw-bold px-5">View all</a>
        </div>
    </div>
</section>
{{!-- Top selling section --}}
<section id="top-selling" class="pt-5">
    <div class="container">
        <p class="page-headings mt-5 mb-3 text-center" data-aos="fade-left">Top Selling</p>
        <div class="top-list-container row">
            {{#each products}}
            <div class="card border-0 col-6 col-md-3" data-aos="fade-up" data-aos-duration="2500">
                <div class="card-body">
                    
                        <div class="position-relative card-img-container rounded d-flex justify-content-center align-items-center align">
                            <a href="/products/product_details/?id={{this._id}}" class="text-decoration-none">
                            <img src="/images/backend/products/{{this.sku}}/{{getImage this.productImage 0}}" alt="" style="width:300px;height:300px" >
                            </a>
                            <button onclick="" type="button" id="wishlist-button" class="btn position-absolute wishlist-btn">
                            <i class="fa-solid fa-heart heart-icon" id="wishlist-icon"></i>
                            </button>
                        </div>
                    </a>
                    <p class="name mt-3 fw-bold fs-6">{{this.productName}}</p>
                    <p class="rating lh-1">{{ratingStars this.rating}}</p>
                    <div class="d-flex gap-3">
                        <p class="of-price fw-bold fs-6">₹{{getIndex2 this.variantDetails 0 "regularPrice"}}</p>
                        <p class="price fs-6 text-decoration-line-through text-secondary"> ₹{{getIndex2 this.variantDetails 0 "regularPrice"}}</p>
                        <span class="discount-label bg-olive d-flex justify-content-center align-items-center fw-bold">{{this.productOffer}} %</span>
                    </div>
                    </div>
            </div>
            {{/each}}
        </div>
        <div class="text-center mt-5">
            <a href="/products" class="btn border border-dark rounded-pill fw-bold px-5">View all</a>
        </div>
    </div>
</section>

{{!-- Section style --}}
<section id="style" class="mt-5 pt-5 pb-5">
    <div class="container pt-5 text-center pb-5 rounded" id="bg-secondary">
        <p class="page-headings mb-4" data-aos="fade-right">browse dress by style</p>
        <div class="row gap-3 justify-content-center">
            <div class="col-12 col-md-4 bg-body rounded cat-style-col position-relative overflow-hidden">
                <p class="product-style-label fs-6 fw-bold position-absolute">Product Category Label</p>
                <img src="/images/frontend/casual-style-removebg-preview (1).png" class="position-absolute product-style-cover" alt="" style="width: 500px;height: auto;top: -25px;right:-80px">
            </div>
            <div class="col-12 col-md-7 bg-body rounded cat-style-col position-relative overflow-hidden">
                <p class="product-style-label fs-6 fw-bold position-absolute">Product Category Label</p>
                <img src="/images/frontend/formal-style-removebg-preview.png" class="position-absolute product-style-cover" alt="" style="width: 700px;height: auto;top: -25px;right:-90px">
            </div>
            <div class="col-12 col-md-7 bg-body rounded cat-style-col position-relative overflow-hidden">
                <p class="product-style-label fs-6 fw-bold position-absolute">Product Category Label</p>
                <img src="/images/frontend/party-style-removebg-preview.png" class="position-absolute product-style-cover" alt="" style="width: 600px;height: auto;top: -25px;right:0">
            </div>
            <div class="col-12 col-md-4 bg-body rounded cat-style-col position-relative overflow-hidden">
                <p class="product-style-label fs-6 fw-bold position-absolute">Product Category Label</p>
                <img src="/images/frontend/sports-removebg-preview.png" class="position-absolute product-style-cover" alt="" style="width: 400px;height: auto;top: -100px;right:-5px">
            </div>
        </div>
    </div>
</section>
{{!-- Our happy customers --}}

<section id="customer-carousel">
    <div class="container position-relative">
        <div class="carousel slide position-relative" data-bs-ride="carousel" id="review-carousel">
            <h4 class="page-headings mt-5 mb-5" data-aos="fade-right">Our Happy Customers</h4>
        <div class="carousel-inner">
            {{#each (chunks reviews 4)}}
            <div class="carousel-item {{#if @first}} active {{/if}}">
                <div class="row gap-3 justify-content-center">
                    {{#each this}}
                    <div class="card col-2" style="width: 250px;border-color:rgba(108, 108, 108, 0.5)">
                        <p class="rating">{{ratingStars rating}}</p>
                        <p class="customer-name fw-bold">{{customerName}} <span class="rounded-circle bg-success d-inline-flex align-items-center justify-content-center p-1" style="width: 15px;height:15px"><i class="fa-solid fa-check" style="color: white;font-size:0.500rem"></i></span></p>
                        <p class="review-description">{{description}}</p>
                        <p class="date fw-bold">{{getCallender date}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
            
        </div>
        <div class="control-container">
            <a class="carousel-control-prev" href="#review-carousel" role="button" data-bs-slide="prev">
                {{!-- <span class="carousel-control-prev-icon"></span> --}}
                <i class="fa-solid fa-angle-left text-dark fw-bold fs-4"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#review-carousel" role="button" data-bs-slide="next">
                {{!-- <span class="carousel-control-next-icon"></span> --}}
                <i class="fa-solid fa-angle-right text-dark fw-bold fs-4"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="newsLetter" class="bg-dark p-3 position-absolute rounded w-100">
        <div class="row d-flex align-items-center">
            <div class="col-md-6">
                <p class="text-light fs-3 fw-bold">STAY UPTO DATE ABOUT OUR LATES OFFERS</p>
            </div>
            <div class="col-md-6">
                <form action="" class="" id="newsLetter-form">
                    <input type="email" name="" id="" class="form-control rounded mb-2">
                    <button type="button" class="bg-light rounded form-control">Subscribe to newsletter</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    {{!-- Newsletter --}}
</section>
<script>
    document.addEventListener('DOMContentLoaded', (e) => {
        const counters = document.querySelectorAll('.count')
        counters.forEach((element) => {
            const target = Number(element.getAttribute('data-count-target'))
            setInterval(() => {
                if(Number(element.innerHTML) < target){
                    element.innerHTML = Number(element.innerHTML) + 1
                }
            
            },50)
            
        })

        AOS.init()

        /*const landingPageHead = document.getElementById('landingPageHead')
        setTimeout(() => {
            landingPageHead.style.marginLeft = '0px'
            landingPageHead.style.opacity = '1'
        }, 200)*/
    })
</script>