<section class="pt-5 pb-5">
    <div class="pe-2">
    <div class="row position-relative">
        <button type="button" class="btn" id="filters-btn">Filters <i class="fa-solid fa-sliders"></i></button>
    <div class="col-md-4 col-lg-3" id="filter-col">
        <button type="button" class="btn" id="filter-close"><i class="fa-solid fa-close fs-3"></i></button>
        <div id="filter-form" class="p-3">
            <p class="fs-4 fw-bold">Filter</p>
            <form onsubmit="applyFilter(event, this)" action="">
            <div class="border-top light-border pt-2 pb-2">
                <p class="fw-bold filter-type">Category</p>
                {{#each category}}
                <div class="mb-1">
                    <input type="radio" name="category" value="{{this.name}}"><label for="" class="ms-2">{{this.name}}</label>
                </div>
                {{/each}}
            </div>
            <div class="border-top light-border mt-2 pt-2 pb-2" id="filter-price">
                <p class="fw-bold filter-type">Price</p>
                <div class="d-flex justify-content-between">
                    <input type="number" class="ps-2" name="minPrice" placeholder="Min" min="0" name="min-price" style="width: 120px;">
                    <input type="number" class="ps-2" name="maxPrice" placeholder="Max" min="0" name="max-price" style="width: 120px;">
                </div>
            </div>
            <div class="border-top light-border mt-2 pt-2 pb-2">
                <p class="fw-bold filter-type">Color</p>
                <ul class="list-unstyled">
                    <li class="mt-2"><input type="checkbox" name="color[]" value="indigo" id="filter-Indigo"><label for="filter-Indigo" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: indigo;"></span>Indigo</label></li>
                    <li class="mt-2"><input type="checkbox" name="color[]" value="blue" id="filter-blue"><label for="filter-blue" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: blue;"></span>Blue</label></li>
                    <li class="mt-2"><input type="checkbox" name="color[]" value="green" id="filter-green"><label for="filter-green" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: green;"></span>Green</label></li>
                    <li class="mt-2"><input type="checkbox" name="color[]" value="yellow" id="filter-yellow"><label for="filter-yellow" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: yellow;"></span>Yellow</label></li>
                    <div class="collapse" id="filter-color-collapse">
                        <li class="mt-2"><input type="checkbox" name="color[]" value="orange" id="filter-orange"><label for="filter-orange" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: orange;"></span>Orange</label></li>
                        <li class="mt-2"><input type="checkbox" name="color[]" value="red" id="filter-red"><label for="filter-red" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: red;"></span>Red</label></li>
                        <li class="mt-2"><input type="checkbox" name="color[]" value="white" id="filter-white"><label for="filter-white" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: white;"></span>White</label></li>
                        <li class="mt-2"><input type="checkbox" name="color[]" value="black" id="filter-black"><label for="filter-black" class="ms-2"><span class="border me-2 color-circle rounded-circle ps-2 pe-2" style="background-color: black;"></span>Black</label></li>
                    </div>
                    
                </ul>
                <button type="button" id="filter-color-toggle" class="btn border-0" data-bs-toggle="collapse" data-bs-target="#filter-color-collapse" aria-expanded="false" aria-controls="filter-color-collapse">Show More</button>
            </div>
            <div class="border-top light-border mt-2 pt-2 pb-2">
                <p class="fw-bold filter-type">Size</p>
                <ul class="list-unstyled">
                    <li class="mb-1"><input type="checkbox" name="size[]" value="small" id=""><label for="" class="ms-2">Small</label></li>
                    <li class="mb-1"><input type="checkbox" name="size[]" value="medium" id=""><label for="" class="ms-2">Medium</label></li>
                    <li class="mb-1"><input type="checkbox" name="size[]" value="large" id=""><label for="" class="ms-2">Large</label></li>
                </ul>
            </div>
            <div class="border-top light-border mt-2 pb-2 pt-2">
                <p class="fw-bold filter-type">Style</p>
                <ul class="list-unstyled">
                    <li class="mb-2"><input type="checkbox" name="style[]" id="" value="formal"><label for="" class="ms-2">Formal</label></li>
                    <li class="mb-2"><input type="checkbox" name="style[]" id="" value="casual"><label for="" class="ms-2">Casual</label></li>
                    <li class="mb-2"><input type="checkbox" name="style[]" id="" value="party"><label for="" class="ms-2">Party</label></li>
                    <li class="mb-2"><input type="checkbox" name="style[]" id="" value="sports"><label for="" class="ms-2">Sports</label></li>
                </ul>
            </div>
            <button type="submit" class="p-1 btn btn-dark d-block m-auto" style="font-size: .850rem;border-radius: 15px;">Apply Filter</button>
            </form>
        </div>
    </div>
    <div class="col-md-8 col-lg-9"> <!--applied color for testing -->
        <div class="d-flex justify-content-end mb-2 align-items-center gap-1">
            <span style="font-size: .9rem;">Sort by : </span> 
            <select name="sortOption" id="sortFeature" onchange="applySort()" class="p-2 light-border">
                {{#if currentSort}}
                <option value="price-high-to-low">{{currentSort}}</option>
                {{/if}}
                <option value="price-high-to-low">Price : High to Low</option>
                <option value="price-low-to-high">Price : Low to High</option>
                <option value="new-arrivals">New Arrivals</option>
                <option value="a-z">Name : A-Z</option>
                <option value="z-a">Name : Z-A</option>
            </select>
        </div>
        <div class="row gy-3">
            {{#each product}}
            <div class="card border-0 col-6 col-md-4 col-lg-3">
                {{!-- <div class="card-body"> --}}
                    
                        <figure class="position-relative card-img-container rounded d-flex justify-content-center align-items-center align" style="overflow: hidden;">
                            <a href="/products/product_details/?id={{this._id}}" class="text-decoration-none">
                            <img src="/images/backend/products/{{this.sku}}/{{getImage this.productImage 0}}" alt="" class="img-fluid"
                                style="max-width:300px;height:auto;object-fit: cover;object-position:center"> </a>
                            <button onclick="" type="button" id="wishlist-button"
                            class="btn position-absolute wishlist-btn">
                            <i class="fa-solid fa-heart heart-icon" id="wishlist-icon" data-productId="{{this._id}}"></i>
                        </button>
                        </figure>
                    </a>
                    <figcaption id="product-card-productName"><p class="name mt-1 fw-bold fw-bold" style="font-size: 1rem;">{{this.brandDetails.[0].brandName}}</p>
                    <p class="text-secondary" style="margin-top: -10px;font-size:.980rem">{{this.productDescription}}</p>
                    <p class="rating lh-1" style="font-size: .850rem;margin-top:-5px">{{ratingStars this.rating}}</p>
                    <div class="d-flex gap-3" style="margin-top: -5px;">
                        <p class="of-price fw-bold fs-6">₹{{currencyFormat this.variantDetails.offerPrice}}</p>
                        {{#if (checkOffer this.productOffer)}}
                        <p class="price fw-bold fs-6 text-decoration-line-through text-secondary"> ₹{{currencyFormat this.variantDetails.regularPrice}}</p>
                        <span class="discount-label fw-bold bg-olive d-flex justify-content-center align-items-center">{{this.productOffer}} %</span>
                        {{/if}}
                        {{#if (checkOffer this.categoryDetails.categoryOffer)}}
                        <p class="price fw-bold fs-6 text-decoration-line-through text-secondary"> ₹{{currencyFormat this.variantDetails.regularPrice}}</p>
                        <span class="discount-label fw-bold bg-olive d-flex justify-content-center align-items-center">{{this.categoryDetails.categoryOffer}} %</span>
                        {{/if}}
                    </div>
                    </figcaption>
                {{!-- </div> --}}
                {{!-- <div class="d-flex justify-content-between" id="product-card-action" style="margin-top: -5px;">
                    <button class="btn text-dark" id="add-to-wishlist">Add to Wishlist</button>
                    <button class="btn text-light" id="add-to-cart">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
                </div> --}}
            </div>
            {{/each}}
        </div>
    </div>
    </div>
    </div>
</section>
<script>
    
    const colorToggleButton = document.getElementById('filter-color-toggle')
    const collapseColorElement = document.getElementById('filter-color-collapse')

    collapseColorElement.addEventListener('shown.bs.collapse', () => {
        colorToggleButton.textContent = 'Show Less'
    })
    collapseColorElement.addEventListener('hidden.bs.collapse', () => {
        colorToggleButton.textContent = 'Show More'
    })

    function applySort(){
        const sortOption = document.getElementById('sortFeature').value
        window.location.href = `/products?sort=${sortOption}`
    }

    function applyFilter(event, form){
        event.preventDefault()
        const filterData = new FormData(event.target)
        
        
        const filterObjet = {
            color:[],
            style:[],
            size:[]
        }
        filterData.forEach((value, key) => {
            if(key === "color[]"){
                filterObjet["color"].push(value)
            }else if(key === "style[]"){
                filterObjet["style"].push(value)
            }else if(key === "size[]"){
                filterObjet["size"].push(value)
            }else{
                filterObjet[key] = value
            }

        })
        filterObjet["color"] = JSON.stringify(filterData.getAll("color[]"))
        filterObjet["size"] = JSON.stringify(filterData.getAll("size[]"))
        filterObjet["style"] = JSON.stringify(filterData.getAll("style[]"))

        

        const queryString = new URLSearchParams(filterObjet).toString()
        console.log(queryString)

        form.action = `/products?${queryString}`
        form.submit()

        /*fetch(`/products?${queryString}`)
            .then((response) => {
                return response.text()
            })
            .then((data) => {
                console.log('response after converting to text')
                console.log(data)
            })
            .catch((error) => {
                console.log(error)
                alert('An unexpected error occured!')
            })*/

    }
    const filterButton = document.getElementById('filters-btn')
    const filterForm = document.getElementById('filter-col')
    const filterCloseButton = document.getElementById('filter-close')

    filterButton.addEventListener('click', (e) => {
        filterForm.style.display = 'block'
    })
    filterCloseButton.addEventListener('click', (e) => {
        filterForm.style.display = 'none'
    })

</script>