<!-- Notyf CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css">

<!-- Notyf JS -->

<section class="">
    <div class="">
        <div class="pt-5 pb-5">
            <div class="container">
                <h3 class="text-center text-dark">Invite & Earn</h3>
                <p class="text-dark text-center">
                    Share the love with your friends and get rewarded! Invite your friends to join
                    <b>Shopy Fashions</b> and enjoy exclusive benefits together. For every successful referral,
                    you’ll earn exciting rewards. Start sharing now and make shopping even more fun!"
                </p>
                {{#if userIsReffered}}
                    <p class="fw-bold text-center">You 've referred by {{referredBy}}</p>
                {{else}}
                    <div class="d-flex gap-2 m-auto" id="dv-applyReferralCode">
                        <input type="text" name="" id="referralCode" class="form-control" placeholder="Enter referral code">
                        <button onclick="applyRef('{{logedUser.id}}', this)" type="button" class="btn btn-info" id="applyRefButton">Apply</button>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="">
        <div class="pt-5 pb-5" style="background-color: #ebf4f8;">
            <div class="container">
                
                {{#if referralUrl}}
                <h4 class="text-center text-dark">Share your referral code</h4>
                <input type="text" name="" id="referralCodeField" readonly class="form-control p-2" value="{{referralUrl}}">
                <button type="button" onclick="copyToClipboard(this)" class="btn btn-primary mt-2">Copy</button>
                {{else}}
                <h4 class="text-center text-dark">Generate Referral Code</h4>
                <div class="d-flex justify-content-center">
                    <button onclick="generateRefferalUrl('{{logedUser.id}}')" type="button" class="btn btn-warning">Generate Url</button>
                </div>
                {{/if}}
                {{!-- <div class="mt-5">
                    <h4 class="text-center">Ways to share the referral code</h4>
                    <div>
                    <label for="urlShareForm" class="fw-bold"><span class="badge bg-success text-light rounded-circle me-2">1</span>Send a quick email</label>
                    <form action="#" id="urlShareForm" class="mt-2">
                        {{#if referralUrl}}
                        <div class="d-block d-md-flex gap-3">
                            <input type="text" name="recipientName" id="" class="form-control" placeholder="Recipient name (optional)">
                            <input type="email" name="recipeintEmail" id="" class="form-control" placeholder="Recipeint Email Address">
                        </div>
                            <button type="submit" class="btn btn-info mt-3">Send</button>
                        {{else}}
                        <div class="d-block d-md-flex gap-3">
                            <input type="text" name="recipientName" id="" class="form-control" placeholder="Recipient name (optional)" disabled>
                            <input type="email" name="recipeintEmail" id="" class="form-control" placeholder="Recipeint Email Address" disabled>
                        </div>
                            <button type="submit" class="btn btn-info mt-3" disabled>Send</button>
                        {{/if}}
                    </form>
                    </div>
                    <div class="mt-3">
                        <label for="urlShareForm" class="fw-bold"><span class="badge bg-success text-light rounded-circle me-2">2</span>Share directely</label>
                        <p class="mt-2"><i>Copy the generated referral url and share with your frieds directly!</i></p>
                    </div>
                </div>
                <div class="mt-5">
                    <h4 class="text-center">Referral Activity</h4>
                    <p class="mt-3 mb-3 text-center">You referred <b>2</b> people and 1 of them have joined</p>
                    <div class="table-responsive">
                        <div class="table table-bordered">
                            <thead>
                                <th>Account</th>
                                <th>Status</th>
                                <th>Last Activity</th>
                                <th>Completed First Purchase</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>kld</td>
                                    <td>kld</td>
                                    <td>kld</td>
                                    <td>kld</td>
                                </tr>
                                <tr>
                                    <td>kld</td>
                                    <td>kld</td>
                                    <td>kld</td>
                                    <td>kld</td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>
<script>
    //generate referral url
    async function generateRefferalUrl(userId){
        try{
            const response = await fetch(`/referral/url/generate?user=${userId}`)
            const data = await response.json()
            Swal.fire({
                icon:'success',
                title:'Generated',
                text:data.message,
                showConfirmButton:false,
                timer:1800
            }).then(() => window.location.reload())
        }catch(error){

        }
    }

    function copyToClipboard(button){
        try{
            const notify = new Notyf()
            const codeField = document.getElementById('referralCodeField')

            codeField.select()
            codeField.setSelectionRange(0, 99999)

            navigator.clipboard.writeText(codeField.value)
                .then(() => {
                    notify.success('Code copied to clipboard',{
                        align:'center',
                        verticalAlign:'top'
                    })
                }) 
            //alert('Text copied to clipboard')
        }catch(e){
            console.log('error occured while copying', e)
        }
    }

    function applyRef(referrer, button){
        const notify = new Notyf()
        console.log('this is user', referrer)
        console.log('this is button', button)
        const referralCode = document.getElementById('referralCode').value
        if(referrer && referralCode){
            fetch(`/referral-code/apply?referrer=${referrer}`, {
                method:'POST',
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({referralCode})
            })
            .then((response) => {
                console.log(response)
                if(!response.status === 500) throw new Error('Page not responding, try again after sometime')
                return response.json()
            })
            .then((data) => {
                if(data && data.success){
                    Swal.fire({
                        icon:'success',
                        title:'Applied',
                        text:'Referral Code applied successfully. Reward granted & be ready for your first purchase!',
                        showConfirmButton:false,
                        showCanelButton:false,
                        timer:1600
                    }).then(() => window.location.reload())
                        .then(() => {
                            notify.success('Rs.50 credited to your wallet as referral reward!',{
                                align:'center',
                                verticalAlign:'top'
                            })
                        })
                }else{
                    Swal.fire({
                        icon:'warning',
                        title:data.title,
                        text:data.message
                    })
                }
            })
            .catch((error) => {
                console.log('error occured ', error)
                Swal.fire({
                    icon:'error',
                    title:'Error',
                    text:error.message
                })
            })
        }
    }

    //const buttonT = document.getElementById('applyRefButton')
    //buttonT.addEventListener('click', applyRef)
</script>